<template>
  <div>
    <img src="//placehold.it/150" class="mx-auto img-fluid img-circle d-block" alt="avatar">
    <h6 class="mt-2">Quì puoi modificare il tuo avatar</h6>
      <label class="">
      <input type="file" id="file" name="avatar" class="">
      <span class="">Choose file</span>
    </label>
  </div>

</template>

<script>
    export default {
        data: function() {

        },
        mounted: function() {
            console.log('Component mounted.')
        }

    }
</script>
