<template>
  <div class="card">
    <img class="card-img-top" src="http://via.placeholder.com/150x150" alt="Immagine di copertina di m">
    <div class="card-body">
      <h5 class="card-title">{{ name }}</h5>
      <p class="card-text">Trama</p>
      <p class="card-text"><strong>{{ plot }}</strong></p>
      <p class="card-text">Numero episodi: <strong>{{ episodes }}</strong></p>
      <p class="card-text"><small class="text-muted">Ultimo episodio aggiunto {{ latest_edited }}</small></p>
    </div>
  </div>
</template>

<script>
    export default {

        props: ['name', 'plot', 'episodes', 'latest_edited'],

        mounted: function() {
            console.log('Component mounted.');
        }
    }
</script>