//========= BUTTONS ======================
$border-radius: 0;

//============= FONT FAMILY ===============
$font-family-sans-serif:      -apple-system, BlinkMacSystemFont, "Segoe UI", 'Source Sans Pro', sans-serif, Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !default;
$headingFamily: 'Playfair Display', serif;
$size-splash: 4em;

// ================== NAVBAR ======================

$spacer: 4.5rem !default;
$navbar-padding-x: $spacer;


//$navbar-brand-font-size: 2em;

// ========== colors ===========

$or : #f90;
$tile : #3299bb;


$primary:       $or !default;
$secondary:     $tile !default;
//$success:       ;
//$info:          $cyan !default;
//$warning:       $yellow !default;
//$danger:        $red !default;
//$light:         $gray-100 !default;
//$dark:          $gray-800 !default;
