/* ==================
/  =                =
   =   by K3nzie    =
   =                =
   =    Davide      =
   =  Valguarnera   =
   ==================*/

// Fonts
@import url('https://fonts.googleapis.com/css?family=Playfair+Display:400,700|Source+Sans+Pro:300,400,600|Raleway:300,400,600');

// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import "~bootstrap/scss/bootstrap";

$or : #f90;
$tile : #3299bb;
$dark : #424242;
$size-splash: 4em;
$headingFamily: 'Playfair Display', serif;
$bg: #ededed;
$admin: #ba281d;
$lighterRed: lighten($admin, 5%);
$moderator: #2db20c;
$releaser: #1485aa;
$helper: #ddbc2a;
$bannato: #824710;
$supervisore: #714787;
$grafico : #a7c419;
$developer: #a2e550;
$convalida: #afafae;

.lighterAlert {
	color: $lighterRed;
}


@mixin text-sh(){
	text-shadow: 0px 1px 1px rgba(0, 0, 0, 1);
}

@mixin opacity($value){
  $IEValue: $value*100;
  opacity: $value;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity="+$IEValue+")";
  filter: alpha(opacity=$IEValue);
}

// ====== Vue cloak ==================
[v-cloak] > * { 

	display: none;
	::before {
		content: 'Loading...';
	} 
}

//========== General Body =============


body { background: $bg; padding-top: 5%; } 
body,html { height: 100%; }
.mainFooterLink { font-weight: bold; }
.spacer { }

//=========== HOME PAGE SPLASH =============

#mainSplash {
	h1,h2,h3,h4{ @include text-sh(); color: #FFF;}
	background: url(/images/anime_4k_bw.jpg) no-repeat;

	min-height:100vh; 
	height:100vh;
	//padding-top: 5%;

	

	}


// ======== Homepage Carousel =============

.homePageCarouselCard {
	width: 10rem;
}
.homePageCarouselImage {
	max-width: 10rem;
}

#carousel-cards {
	margin-bottom: 5em;
}


// Font per la homepage splash degli ospiti
.leadhead {
	font-size: 5em;
	font-size: $size-splash;
	font-family: $headingFamily;
}

.or {
	color: $or;
}
.tile {
	color: $tile;
}

// ==== ETICHETTE RUOLI =====
.adminLabel {
	color: $admin;
}
.moderatorLabel {
	color: $moderator;
}

.red {
	color: $admin;
}

.admin { color: $admin; }
.moderator { color: $moderator; }
.releaser { color: $releaser; }
.helper { color: $helper; }
.bannato { color: $bannato; }
.supervisore { color: $grafico; }
.grafico { color: $grafico; }
.developer { color: $developer; }
.convalida { color: $convalida; }

// ====================== control panel sidenav ===============

.sidebar {
	width: 10%;
	z-index: 1000;
	position: fixed;
	left: 10%;
	top: 15%;
	height: 100%;
	margin-left: -10%;
	overflow-y: auto;
	background: transparent;
	border-right: 1px solid $tile;
	.sidebar-nav {
		position: absolute;
		top: 0;
		width: 100%;
		margin: 0;
		padding: 0;
		list-style: none;
		.sidebar-nav-item {
			text-align: center;
			padding: 5% 0 5% 0;
			border-bottom: 1px solid $tile;
			&:hover {
				background: $tile;
				color: $or;
			}
			
			a {
				color: inherit;

				width: 100%;
				display:block;
				
				&:not(.sidebar-brand){
					&:hover {
					color: inherit;
					decoration: none;
				}
				}
			}

		}
		.sidebar-brand {
			    height: 65px;
		    font-size: 18px;
		    line-height: 60px;
		}
	}

}

// ======== control panel cards ===========
.cpCard {
	transition: all ease-in-ease-out .8s;
	&:hover {
		-webkit-box-shadow: 0px -3px 5px 0px rgba(50, 50, 50, 0.25);
		-moz-box-shadow:    0px -3px 5px 0px rgba(50, 50, 50, 0.25);
		box-shadow:         0px -3px 5px 0px rgba(50, 50, 50, 0.25);
	}

}

// ===== CONTROL PANEL FOOTER ============

footer.panelFooter {
	 text-align: center;

}

.profileCircle {
	max-height: 50px;
	height: auto;
	margin-right: 3px;
}

.dsNavbar {
	background: $dark;
	-webkit-box-shadow: 0px 3px 2px 0px rgba(50, 50, 50, 0.26);
	-moz-box-shadow:    0px 3px 2px 0px rgba(50, 50, 50, 0.26);
	box-shadow:         0px 3px 2px 0px rgba(50, 50, 50, 0.26);
}

// ====== FOOTER ========

.footerCredits {
	color: #fff;
	@include text-sh();
}

footer.mainFoot {

	background: $dark;
	color: $or;
	padding:2em;


}
// =========== USER PROFILE AVATAR ==============

#avatarUploadInput {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
	&:focus {
		outline: 3px dotted $dark;
	}
	&:active {
		outline: 3px dotted $dark;
	}
}

label.avatarUploadLabel {
		cursor: pointer;
		background: $dark;
		color: $or;
		//display: inline-block;
		font-size: 1.25em;
		font-weight: bold;
		padding: 1em;
		transition: backgrond color ease-in-ease-out 1s;
		&:hover {
			background: $or;
			color: $dark;
		}
		&:focus {
		outline: 3px dotted $dark;
		}
		&:active {
		outline: 3px dotted $dark;
		}
	}

	//=========================================

	.backButton {
		position: absolute;
		z-index: 1;
		top: 20%;
		left: 11%;
		width: auto;
		height: auto;
	}

// ============== CAROUSEL COMP =============0

.carousel-3d-container figure {
  margin:0;
}

.carousel-3d-container figcaption {
  position: absolute;
  background-color: $dark;
  color: $or;
  bottom: 0;
  position: absolute;
  bottom: 0;
  top:0;
  padding: 2em;
  text-align: center;
  min-width: 100%;
  box-sizing: border-box;
  @include opacity(0);
  transition: all ease-in .3s;
  h3 {
  	position: relative;
  	color: #fff;
  }
  &:hover {
	@include opacity(0.8);
	top: 0;
  }
}